.box {
    flex: 1;
    display: flex;
    justify-content: center;
}
#toolbar-left {
    margin-right: auto;
}
#toolbar-right {
    margin-left: auto;
}
.nav-button {
    font-size: 24px;
    font-weight: normal;
}
.visibility {
    display: none;
  }
  
.nav-button-selected {
    font-weight: bold;
    font-weight: 500;
    border-bottom: 5px solid;
}

