#toolbar {
    justify-content: space-between;
}
.nav-button {
    font-size: 24px;
    font-weight: normal;
}
.visibility {
    display: none;
  }
  
.nav-button-selected {
    font-weight: bold;
    font-weight: 500;
    border-bottom: 5px solid;
}

