<mat-toolbar color="primary" id="toolbar">
    <div id="toolbar-right">
        <span>COVID Resource Allocator</span>
    </div>
    <div id="toolbar-mid">
        
        <button Volunteers mat-button routerLink="/volunteer">
            <span [ngClass]="getOptionClass(Volunteer)">Volunteer</span>
        </button>
        <button Supplies mat-button routerLink="/supplies">
            <span [ngClass]="getOptionClass(Supplies)">Supplies</span>
        </button>
        <button Post mat-button routerLink="/post">
            <span [ngClass]="getOptionClass(Post)">Post</span>
        </button>
    </div>
    <div id="toolbar-left">
        <span>{{user.name}}</span>
        <button mat-icon-button aria-label="Open menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
