
<mat-toolbar color="primary" id="toolbar">
    <div class="box">
        <div id="toolbar-left">
            <span>COVID Resource Allocator</span>
        </div>
    </div>
    <div class="box">
        <div id="toolbar-mid">
            <button mat-button *ngFor="let option of options" [routerLink]="option.url">
                <span [ngClass]="getOptionClass(option)">{{option.label}}</span>
            </button>
        </div>
    </div>
    <div class="box">
        <div id="toolbar-right">
            <span *ngIf="user">{{user.name}}</span>
            <button mat-icon-button aria-label="Open menu">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>