<app-toolbar></app-toolbar>
<p class="title">COVID Resource Allocator</p>
<div class="container">
  <div class="loginbox">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <p class="welcome">Welcome</p>
      <div *ngIf="showFailedLogin">
        <p>Invalid username/password</p>
      </div>
      <p class="label">Username</p>
      <input class="inputbox" type="text" formControlName="username">
      <p class="label">Password</p>
      <input class="inputbox" type="password" formControlName="password">
      <button class="loginbutton" type="submit">Submit</button>

      <p class="signup">Don't have an account? <a class="signupLink" routerLink="/login/register">Sign up</a></p>
    </form>
  </div>
</div>
