div.supply {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

img.supply-image-box {
  width: 180px;
  flex-shrink: 0;
}

div.supply-details {
  flex-grow: 1;
}

div.supply-misc {
  padding: 0px 30px 0px 0px;
  flex-shrink: 0;
}

img.supply-image {
  padding: 30px;
  width: 180px;
}

p.supply-title {
  margin: 50px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
p.supply-description {
  margin: 20px 0px 0px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #676767;
}

p.supply-type {
  margin: 30px 0px 0px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
}

p.supply-type-request {
  color: #B80C09;
}

p.supply-type-offer {
  color: #007048;
}

p.supply-loc {
  margin: 20px 0px 0px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;

  color: #000000;
}

p.supply-need {
  margin: 20px 0px 0px 00px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
}

p.supply-need-high {
  color: #B80C09;
}

p.supply-need-low {
  color: #007048;
}
