<app-toolbar [selected]="getSelectedType()"></app-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="main">
    <div class="left-container">
      <!--<img class="add-image" src="/assets/add.png" alt="add">-->
      <div class="user" *ngIf="user">
        <img class="user-pic" src="/assets/placeholder.png" alt="profile picture">
        <p class="user-name">{{user.name}}</p>
      </div>
    </div>
    <div class="middle-container">
      <p class="label">Name:</p>
      <input class="textbox" type="text" formControlName="name">

      <p class="label">Description:</p>
      <textarea class="description" formControlName="description"></textarea>
      <button class="update-info">Update</button>
    </div>
    <div class="right-container">
      <p class="label">Location:</p>
      <input class="textbox" type="text"  formControlName="location">

      <!--<p class="label">Need:</p>
      <select class="dropdown" formControlName="need">
        <option value="high">High</option>
        <option value="low">Low</option>
      </select>

      <div class="supplies" *ngIf="type == 'supply'">
        <p class="label">Post Type:</p>
        <select class="dropdown" formControlName="supplyPostType">
          <option value="request">Request</option>
          <option value="offer">Offer</option>
        </select>
      </div>-->
    </div>
  </div>
</form>
