<div class="maindiv">
  <div class="toolbar">
    <app-toolbar></app-toolbar>
  </div>
  <div class="splitpane">
      <div class="sidebar">
          <div class="sidebar-content">
            <div class="block new-conversation">
              <app-messenger-new-conversation></app-messenger-new-conversation>
            </div>
            <div class="block user" *ngFor="let conversation of conversations">
              <app-messenger-user  [conversation]="conversation"></app-messenger-user>
            </div>
          </div>
      </div>
      <div class="mainpanel">
          <app-messenger-chat></app-messenger-chat>
      </div>
  </div>
</div>
