div.main {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;
}

div.left-container {
  margin: 0px 25px 0px 50px;
  width: 370px;

  flex-grow: 0;
}

div.middle-container {
  margin: 0px 20px 0px 25px;
  width: 600px;

  flex-grow: 2;
}

div.right-container {
  margin: 0px 50px 0px 20px;
  width: 280px;

  flex-grow: 1;
}

img.user-image {

  width: 300px;

}

p.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;

  color: #000000;
}

p.label {
  margin: 10px 0px 0px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}

p.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #676767;
}

p.loc {
  margin: 20px 0px 0px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;

  color: #000000;
}

