<div class="supply">
    <div class="supply-image-box">
        <img class="supply-image" [src]="'/api/photo/get?id='+supply.photoId" alt="placeholder">
    </div>
    <div class="supply-details">
        <p class="supply-title">{{supply.name}}</p>
        <p class="supply-description">{{supply.description}}</p>
    </div>
    <div class="supply-misc">
        <p [ngClass]="getTypeClass()" >{{getTypeDesc()}}</p>
        <p class="supply-loc">{{supply.location}}</p>
        <p [ngClass]="getNeedClass()">{{getNeedDesc()}}</p>
    </div>
</div>
